:root {
    --font: 'Montserrat';
    --cl-black: #000;
    --cl-nero: #222222;
    --cl-black-russian: #1a202c;
    --cl-licorice: #2D3748;
    --cl-white: #fff;
    --cl-alice-blue: #F6FAFD;
    --cl-mountain-meadow: #1DBF73;
    --cl-salem: #14a05f;
    --cl-white-ice: #D7FFEC;
    --cl-ghost-white: #F2F0FE;
    --cl-coral-red: #FF4343;
    --cl-sandy-brown: #FBA457;
    --cl-kimberly: #656084;
    --cl-wistful: #B0AAD0;
    --cl-shuttle-grey: #5C5F62;
    --cl-slate-blue:#5E4EDB;
    --cl-lavender: #EBE8FF;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: var(--font);
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

#__nuxt {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}